section.error-404 {
    position: relative;
  
    img {
      @include width(100%);
    }
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include height(100%);
      @include width(100%);
      @include background-color(#000);
      opacity: 0.7;
      z-index: 999;
    }
  }
  