section.error-404 {
  position: relative;
  @include flex(center, center);
  @include height(100vh);

  img {
    @include height(100%);
    @include width(100%);
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    @include height(100%);
    @include width(100%);
    @include background-color(rgba(0, 0, 0, 0.7));
  }

  .content {
    position: absolute;
  }

  .btn-primary {
    display: inline-block;
  }
}
