@import "variables";
@import "typography";
@import "utilities";
@import "mixins";

* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-primary,
.btn-secondary {
  transition: background-color 0.3s;
  @include padding(25px 42px);
  font-weight: $font-weight-semi-bold;
}

.btn-primary {
  background-color: $primary-color;
  color: $white-color;
  &:hover {
    background-color: $white-color;
    color: $secondary-color;
  }
}

.btn-secondary {
  background-color: $secondary-color;
  color: $white-color;
  &:hover {
    background-color: $white-color;
    color: $secondary-color;
  }
}
