@import 'variables';
@import 'typography';
@import 'utilities';
@import 'mixins';

*{
  margin: 0px;
  padding: 0px;

}

a {
    text-decoration: none;
    color: inherit;
}

.btn-primary,
.btn-secondary{
  transition: background-color 0.3s;
}

.btn-primary{
  padding: 25px 40px;
  background-color: $primary-color;
  color: $white-color;
  &:hover{
    background-color: $secondary-color;
  }
}

.btn-secondary{
  padding: 25px 40px;
  background-color: $secondary-color;
  color: $white-color;
  &:hover{
    background-color: $primary-color;
  }
}
